
tema'2 Array Assignment/.vs/tema'2 Array Assignment/DesignTimeBuild/.dtbcache.v2
tema'2 Array Assignment/.vs/tema'2 Array Assignment/v16/.suo
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.AssemblyInfo.cs
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.AssemblyInfoInputs.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.assets.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.csproj.AssemblyReference.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.GeneratedMSBuildEditorConfig.editorconfig
tema'2 Array Assignment/tema'2 Array Assignment/obj/project.assets.json
tema'2 Array Assignment/tema'2 Array Assignment/obj/project.nuget.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.dgspec.json
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.g.props
tema'2 Array Assignment/.vs/tema'2 Array Assignment/DesignTimeBuild/.dtbcache.v2
tema'2 Array Assignment/.vs/tema'2 Array Assignment/v16/.suo
tema 3 Array Asignment/.vs/tema 3 Array Asignment/DesignTimeBuild/.dtbcache.v2
tema 3 Array Asignment/.vs/tema 3 Array Asignment/v16/.suo
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.g.targets
TEMA STRINGS TO NUMBERS/.vs/TEMA STRINGS TO NUMBERS/DesignTimeBuild/.dtbcache.v2
TEMA STRINGS TO NUMBERS/.vs/TEMA STRINGS TO NUMBERS/v16/.suo
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.g.targets
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS.sln
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS.csproj
Search for a number/.vs/Search for a number/DesignTimeBuild/.dtbcache.v2
Search for a number/.vs/Search for a number/v16/.suo
Search for a number/Search for a number.sln
Search for a number/Search for a number/Search for a number.csproj
Obfuscate Email/.vs/Obfuscate Email/DesignTimeBuild/.dtbcache.v2
Obfuscate Email/.vs/Obfuscate Email/v16/.suo
Obfuscate Email/Obfuscate Email.sln
Obfuscate Email/Obfuscate Email/Obfuscate Email.csproj
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.deps.json
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.dll
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.exe
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.pdb
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.runtimeconfig.dev.json
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/Obfuscate Email.runtimeconfig.json
Obfuscate Email/Obfuscate Email/bin/Debug/net5.0/ref/Obfuscate Email.dll
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/apphost.exe
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.AssemblyInfo.cs
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.AssemblyInfoInputs.cache
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.assets.cache
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.csproj.AssemblyReference.cache
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.csproj.CoreCompileInputs.cache
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.csproj.FileListAbsolute.txt
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.dll
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.GeneratedMSBuildEditorConfig.editorconfig
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.genruntimeconfig.cache
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/Obfuscate Email.pdb
Obfuscate Email/Obfuscate Email/obj/Debug/net5.0/ref/Obfuscate Email.dll
Obfuscate Email/Obfuscate Email/obj/Obfuscate Email.csproj.nuget.dgspec.json
Obfuscate Email/Obfuscate Email/obj/Obfuscate Email.csproj.nuget.g.props
Obfuscate Email/Obfuscate Email/obj/Obfuscate Email.csproj.nuget.g.targets
Obfuscate Email/Obfuscate Email/obj/project.assets.json
Obfuscate Email/Obfuscate Email/obj/project.nuget.cache
Search for a number/Search for a number/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Search for a number/Search for a number/obj/Debug/net5.0/Search for a number.AssemblyInfo.cs
Search for a number/Search for a number/obj/Debug/net5.0/Search for a number.AssemblyInfoInputs.cache
Search for a number/Search for a number/obj/Debug/net5.0/Search for a number.assets.cache
Search for a number/Search for a number/obj/Debug/net5.0/Search for a number.csproj.AssemblyReference.cache
Search for a number/Search for a number/obj/Debug/net5.0/Search for a number.GeneratedMSBuildEditorConfig.editorconfig
Search for a number/Search for a number/obj/project.assets.json
Search for a number/Search for a number/obj/project.nuget.cache
Search for a number/Search for a number/obj/Search for a number.csproj.nuget.dgspec.json
Search for a number/Search for a number/obj/Search for a number.csproj.nuget.g.props
Search for a number/Search for a number/obj/Search for a number.csproj.nuget.g.targets
tema 3 Array Asignment/.vs/tema 3 Array Asignment/v16/.suo
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/tema 3 Array Asignment.AssemblyInfo.cs
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/tema 3 Array Asignment.AssemblyInfoInputs.cache
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/tema 3 Array Asignment.assets.cache
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/tema 3 Array Asignment.csproj.AssemblyReference.cache
tema 3 Array Asignment/tema 3 Array Asignment/obj/Debug/net5.0/tema 3 Array Asignment.GeneratedMSBuildEditorConfig.editorconfig
tema 3 Array Asignment/tema 3 Array Asignment/obj/project.assets.json
tema 3 Array Asignment/tema 3 Array Asignment/obj/project.nuget.cache
tema 3 Array Asignment/tema 3 Array Asignment/obj/tema 3 Array Asignment.csproj.nuget.dgspec.json
tema 3 Array Asignment/tema 3 Array Asignment/obj/tema 3 Array Asignment.csproj.nuget.g.props
tema 3 Array Asignment/tema 3 Array Asignment/obj/tema 3 Array Asignment.csproj.nuget.g.targets
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/TEMA STRINGS TO NUMBERS.csproj.nuget.g.targets
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/TEMA STRINGS TO NUMBERS.csproj.nuget.g.props
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/TEMA STRINGS TO NUMBERS.csproj.nuget.dgspec.json
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/project.nuget.cache
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/project.assets.json
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/TEMA STRINGS TO NUMBERS.GeneratedMSBuildEditorConfig.editorconfig
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/TEMA STRINGS TO NUMBERS.csproj.AssemblyReference.cache
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/TEMA STRINGS TO NUMBERS.assets.cache
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/TEMA STRINGS TO NUMBERS.AssemblyInfoInputs.cache
TEMA STRINGS TO NUMBERS/TEMA STRINGS TO NUMBERS/obj/Debug/net5.0/TEMA STRINGS TO NUMBERS.AssemblyInfo.cs
tema 3 Array Asignment/.vs/tema 3 Array Asignment/v16/.suo
tema'2 Array Assignment/.vs/tema'2 Array Assignment/DesignTimeBuild/.dtbcache.v2
tema'2 Array Assignment/.vs/tema'2 Array Assignment/v16/.suo
Class Student Assignment/.vs/Class Student Assignment/DesignTimeBuild/.dtbcache.v2
Class Student Assignment/.vs/Class Student Assignment/v16/.suo
Class Student Assignment/Class Student Assignment.sln
