
tema'2 Array Assignment/.vs/tema'2 Array Assignment/DesignTimeBuild/.dtbcache.v2
tema'2 Array Assignment/.vs/tema'2 Array Assignment/v16/.suo
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.AssemblyInfo.cs
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.AssemblyInfoInputs.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.assets.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.csproj.AssemblyReference.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/Debug/net5.0/tema'2 Array Assignment.GeneratedMSBuildEditorConfig.editorconfig
tema'2 Array Assignment/tema'2 Array Assignment/obj/project.assets.json
tema'2 Array Assignment/tema'2 Array Assignment/obj/project.nuget.cache
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.dgspec.json
tema'2 Array Assignment/tema'2 Array Assignment/obj/tema'2 Array Assignment.csproj.nuget.g.props
tema'2 Array Assignment/.vs/tema'2 Array Assignment/DesignTimeBuild/.dtbcache.v2
tema'2 Array Assignment/.vs/tema'2 Array Assignment/v16/.suo
